language: python
python:
  - "2.7"
  - "3.6"
# command to install dependencies

sudo: required

services:
  - docker

before_install:
- docker pull library/redis
- docker run -d -p 6379:6379 redis
install:
  - make bootstrap
# command to run tests
script:
  -  make test lint
